<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Csv" version="2.0.62" targetFramework="net472" />
  <package id="FluentFTP" version="34.0.0" targetFramework="net472" />
  <package id="Lextm.SharpSnmpLib" version="12.3.0" targetFramework="net472" />
  <package id="log4net" version="2.0.12" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0-preview.3.21201.4" targetFramework="net472" />
  <package id="Microsoft.DotNet.PlatformAbstractions" version="5.0.0-preview.5.20278.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyModel" version="6.0.0-preview.3.21201.4" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="Portable.BouncyCastle" version="1.8.10" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Collections.Specialized" version="4.3.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Net.NameResolution" version="4.3.0" targetFramework="net472" />
  <package id="System.Net.Sockets" version="4.3.0" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0-preview.3.21201.4" targetFramework="net472" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="6.0.0-preview.3.21201.4" targetFramework="net472" />
  <package id="System.Text.Json" version="6.0.0-preview.3.21201.4" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="System.Xml.XmlDocument" version="4.3.0" targetFramework="net472" />
  <package id="Zebra.Printer.SDK" version="2.15.2634" targetFramework="net472" />
</packages>